* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  padding: 5px;
}
a span {
  color: red;
}
a:first-of-type {
  float: left;
}
a:nth-of-type(2) {
  float: right;
}
a:last-of-type {
  display: block;
  margin-top: 30vh;
  text-align: center;
}